.mainDiv{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.cardContainer{
    position: relative;
    border: 5px solid red;
    border-radius: 10px ;
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cardHeader{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}


.cardActionButtons{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}



