/* * Small devices such as large phones (360px and up) */
@media only screen and (min-width: 20em) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 560px;
    width: 100%;
    height: auto;
  }

  .mainDiv {
    position: relative;
    width: 90%;
    height: 60%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
  }

  .logo {
    position: relative;
    top: -25px;
    border-radius: 60%;
    width: 50px;
    height: 50px;
    background-image: url("../../../assets/images/logo-mastercraft.svg");
  }

  .header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .actionsDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 30px 0px 30px;
  }

  .backButton {
    position: relative;
    border-radius: 10px;
    width: 20%;
    display: flex;
    align-items: center;
    margin-left: 15px;
  }

  .bookmarkedButton {
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* Startting the sceond div that under the MasterCrft Card */

  .secondMainDiv {
    position: relative;
    top: 20px;
    width: 90%;
    height: 60%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  .firstDiv {
    position: relative;
    top: 50px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
  }

  .secondDiv {
    position: relative;
    top: 50px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
  }

  .thirdDiv {
    position: relative;
    top: 50px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
  }
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 48em) {
  .container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 350px;
    width: 50%;
    height: auto;
  }

  .mainDiv {
    position: relative;
    width: 100%;
    height: 40%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }

  .logo {
    position: relative;
    top: -25px;
    border-radius: 60%;
    width: 50px;
    height: 50px;
    background-image: url("../../../assets/images/logo-mastercraft.svg");
  }

  .header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .actionsDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 30px 0px 30px;
  }

  .backButton {
    position: relative;
    border-radius: 10px;
    width: 20%;
    display: flex;
    align-items: center;
    margin-left: 15px;
  }

  .bookmarkedButton {
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* Startting the sceond div that under the MasterCrft Card */

  .secondMainDiv {
    position: relative;
    top: 20px;
    width: 100%;
    height: 40%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
  }
  .firstDiv {
    position: relative;
    top: 50px;
    width: 33.33%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
  }

  .secondDiv {
    position: relative;
    top: 50px;
    width: 33.33%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
  }
  .thirdDiv {
    position: relative;
    top: 50px;
    width: 33.33%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
  }
}
